/InvalidOperation_convertToDecimal.log
/addResultData.log
/bodyIndex.log
/bodyXML.log
/general.log
/matchList_empty.log
/notinclude_ContextRef.log
/notinclude_UnitRef.log
/skipped.log
/skipped_FD.log
/skipped_FI.log
/skipped_underscore.log
/tempData.log
/xsdNotFound.log
/addToDB.log
/Error.log
/NoneFactValue.log
/importGeneral.log
/ImporterEntityFact.log
/ImporterCalculate.log
/ImporterCopy.log
/ImporterExpression.log
/ImporterExecutor.log
